<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Published</th>
      <th>Summary</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>This is a title</td>
      <td>2012-12-31-14-30-00</td>
      <td>A very nice summary</td>
    </tr>
  </tbody>
</table>

TODO: Create different action/view pairs with valid and invalid HTML code, then add a request spec for every action and make sure the results from Headhunter are correct!